@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body { 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;

}

*{
    margin: 0;
    padding: 0;
}


.navbar{
   background-color: #292929;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.navbar-brand {
    height:65px !important;
    width: auto ;
    margin: 0 0 0 0;
}

.navbar-dark .nav-item{
    padding-left: 10px;
}

.nav-item a{ 
    font-family:Montserrat;
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;   
    text-decoration: none;
    background-image: linear-gradient(#e33b3a,#e33b3a), linear-gradient(transparent, transparent);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all .2s ease-out;
    line-height: 90%;
    
}

a:hover{
    background-size: 95% 2px, auto;
    color: #e33b3a;
}

.header .row{
    margin: 5% 10% 10% 10%;
}

.header h1{
    font-family:Montserrat;
    text-transform: uppercase;
    font-weight: bolder; 
    font-size: 34px;
    color: white;   
}

.navbar{
    margin:0;
    padding: 0;
}
.navbar-toggler{
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/

.carousel-item {
    height: 70vh !important;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption{
    height: 30vh !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.caption h1{
    font-family:Bebas Neue;
    text-transform: uppercase;
    font-weight: lighter;
    font-size:2.5em;
    color: white;   
    text-align: center;
    height: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.caption p{
    font-family:Montserrat;
    font-weight: 400; 
    font-size: 1em;
    color: white;   
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.carousel-caption .row button{
    
    border:1px solid white;
    border-radius: 0;
    overflow: hidden;

    font-family:Montserrat;
    font-weight: bold; 
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    box-shadow: none !important;
}

.carousel-caption .row button:hover{
    
    border:1px solid #e33b3a;
    background-color: #e33b3a !important;
    box-shadow: none !important;
}

.carousel-caption .row button:active{

    border:1px solid white !important;
    background-color:white !important;
    color:#e33b3a!important;
    box-shadow: none !important;
}


/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/

.footer{
    background-color: #292929;
    
}

.block h3{
    font-family:Montserrat;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}



.block p{
    font-family:Montserrat;
    color: white;
    font-weight: 500;
    font-size: 14px;
}


.contact div {
    font-family:Montserrat;
    color: white;
    font-size: 14px;
    overflow: hidden;
}
.sns i{
    color: white;
    font-size: 25px;
}

.sns i:hover{
    color: white;
    font-size: 30px;
}


/*************************************/

.dropdown{
    background-color: transparent !important;
}

.dropdown .btn{
    font-size: 30px;
    color: #292929;
}

.search input{
    border:1px solid  #292929;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none !important;
}

.search button{
    
    border-radius: 0;
    background-color:  #292929;
    color: white;
    font-size: 18px;
    box-shadow: none !important;
    border:1px solid  #292929;
}

.search button:hover{
    border:1px solid  #292929;
    background-color: #e33b3a !important;
    box-shadow: none !important;
}
.search button:active{
    border:1px solid  #292929;
    background-color: #e33b3a !important;
    box-shadow: none !important;
}


.mov-list .row{
    margin: 0;
    padding-bottom: 2%;
}

.title{
    font-family:Montserrat;
    text-transform: uppercase;
    font-weight: 600; 
    color: white;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    margin: 5px 7px ;
}



.thumbnail{
    background-color: #292929;   
    
}


.thumbnail:hover  .overlay-effect{
   
    opacity: 1;
    cursor: pointer;
    
}
  
.overlay-effect {
    position: absolute;
    background-color: rgba(0,0,0,0.50);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    overflow: hidden;
    color: white;
    z-index: 10;
    border:5px solid   #e33b3a;
    padding: 5px !important;
   
} 

.poster{
    height: 0;
    object-fit: cover;
    overflow: hidden;
    padding-bottom: 148%;

}
.rate{
    font-family:Montserrat;
    color: gray;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

.form-control:focus {
    border-color: #e33b3a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }


#dropdownMenuButton:focus{
    outline: none;
    box-shadow: none;
}


/********************************************************/
/******************MODAL: LOGOUT*************************/
/********************************************************/
/********************************************************/


.modal{
    background-color:  rgba(15, 15, 15, 0.897);
     overflow-y: auto !important;
}

.modal-content{
    border-radius: 0;
    background-color: white;
    border: none;
}
.div3 .top{
    border-bottom: 0px solid #292929;
    margin: 10px 0;
}

.pic{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid #292929;
    overflow: hidden;
}
.div3 h1{
    font-size: 35px;
    color: #292929;
   text-align: center;
   letter-spacing: 1.5px;
}

.div3 a{
    font-family:Montserrat;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;

}

.div3 i{
    color: #292929;
    font-size: 32px;
}

.div3 button{
    background-color:#e33b3a;
    border-radius: 0;
    overflow: hidden;   
    margin: auto;
    font-family:Bebas Neue;
    font-size: 22px;
    letter-spacing: 1px;
    color: #292929;
    box-shadow: none !important;
}
.div3 button:active{
    background-color:#292929;
    color: white;
}

/************************************/

.div3 input{
    margin-top: -10px !important;
}


.div3 h2{
    font-size: 26px;
    font-family: Montserrat;
    color: #292929;
   text-align: center;
   letter-spacing: 1px;
}

.div3 label{
    font-family:Montserrat;
    letter-spacing: 1px;
    color: #e33b3a;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    
}

.div3 .field{
    background-color: transparent;
    border: none;
    border-bottom:  1px solid #292929;
    border-radius: 0;
    color: #292929;
    font-family: Montserrat;
    font-size: 14px;
    text-align: center;
    text-align: left;
    letter-spacing: 1px;
}

.div3 .field:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.div3 .username{
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: bold;
    color: #292929;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 5px !important;
}

.div3 .username:focus{
    outline: none;
    box-shadow: none;
    background-color: transparent;
}


.div3 b{
    font-family:Montserrat;
    font-size: 12px;
    color: #e33b3a;
    font-weight: lighter;

}

#err-mes{
    margin-top: -10px !important;
    
}

.div3 p{
    font-family:Montserrat;
    font-size: 16px;
    color: #292929;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
}

.div3 .email{
    font-weight: bold;
}

#notice{
    color: #e33b3a;
}

/********************************************************/
/******************MODAL: PRD OVRVW*************************/
/********************************************************/
/********************************************************/


#overview{
    background-color:  rgba(63, 63, 63, 0.507);
}

#bg-mdal{
    border-radius: 0;
    background-color: #292929;
    border: none;
}

.div4{
    background-color:transparent;
   
}

.div4 .mv-pstr{
    object-fit: cover;
    
}

.div4 img{
    width: auto !important;
}

.div4 .prd-info{
    height: 57%;
}

.div4 h1{
    font-size: 43px;
    color:  white;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1 ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    text-align: left;
}

.div4 h2{
    font-size: 20px;
    color:  white;
    letter-spacing: 1px;
    line-height: 1 ;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.div4 p {
    font-family: Montserrat;
    color:  white;
    font-size: 16px;
    line-height: 1 ;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.div4 .rate{
    color:  #e33b3a;
}

.div4 button{
    border:1px solid  white;
    border-radius: 0;
    overflow: hidden;
    font-family:Montserrat;
    font-weight: bold; 
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    box-shadow: none !important;
}




.div4 button:hover{
    
    border:1px solid #e33b3a;
    background-color: #e33b3a !important;
    box-shadow: none !important;
    
}

.div4 button:active{

    border:1px solid  white!important;
    background-color:white !important;
    color:white!important;
    box-shadow: none !important;
}
.mdl .modal-dialog{
    min-width: 55% !important;
}

/********************************/
#divs{
    background-color: transparent;
}
.videowrapper{
    background-color: transparent;
    position: relative;
    padding-bottom:59% !important;
    height: 0;
    min-width: 50% !important;
    margin-top: -70px;
}

.videowrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

#close{
    font-size: 20px;
    color: white;
}
/*****************************/
